body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

a {
    color: dodgerblue;
}

a:hover {
    color: #0b294f;
}

a:visited {
    color: dodgerblue;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    font-family: "PT Mono", sans-serif;
    margin-left: 20px;
    width: 20rem;
}

.status {
    margin-bottom: 10px;
    margin-left: 10px;
}

.selected {
    font-weight: bold;
}
